.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  height: 4em;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: var(--content-width);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
